body {
margin-top: 0px;
margin-left: 0px;
background: url("https://res.cloudinary.com/octavian2111/image/upload/v1618562746/collage-menu-1_yeocfn.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menuHoverZone {
  margin-top: 20px;
  margin-left: 50px;
  height:300px;
  width: 700px;
  border: 1px solid black;
}