body {
  background-color: white;
}

.title {
  height: 64px;
  width: 322px;
  top: 107px;
  border-radius: nullpx;
  color: #c56379;
  font-family: Oswald;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: center;
}

.Anna {
  position: absolute;
  width: 147px;
  height: 211px;
  left: 46px;
  top: 200px;
}
.Alessandra {
  position: absolute;
  width: 147px;
  height: 211px;
  left: 220px;
  top: 200px;
}
.Helen {
  position: absolute;
  width: 147px;
  height: 211px;
  left: 220px;
  top: 440px;
}
.Silvia {
  position: absolute;
  width: 147px;
  height: 211px;
  left: 46px;
  top: 440px;
}

.biography {
  position: absolute;
  width: 321px;
  height: 210px;
  left: 44px;
  top: 689px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #000000;
}
