@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* for desktop */
.wrapper {
  display: grid;
  grid-template-columns: 150px 300px 300px 500px 15px;
  grid-template-rows: 40px 350px 350px 10px;
}

.Anna {
  grid-column-start: 2;
  grid-row-start: 2;
  height: 90%;
  width: auto;
}
.Alessandra {
  grid-column-start: 3;
  grid-row-start: 2;
  height: 90%;
  width: auto;
}
.Helen {
  grid-column-start: 2;
  grid-row-start: 3;
  height: 90%;
  width: auto;
}
.Silvia {
  grid-column-start: 3;
  grid-row-start: 3;
  height: 90%;
  width: auto;
}

.text-container {
  grid-column-start: 4;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
}

.title {
  justify-content: left;
  margin-top: -29px;
  margin-left: -10px;

}

.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0em;
  text-align: left;
  /* text-align is justifed left for accessibility purposes - centered or jsutified text is a lot less readable */
}
/* for mobile */
@media screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1rem auto 1rem;
    grid-template-rows: repeat(6, 370px) 20px;
    grid-gap: 5px;
    align-items: center;
    justify-items: center;
  }

  .Anna {
    grid-column-start: 2;
    grid-row-start: 3;
    height: auto;
    width: 250px;
  }
  .Alessandra {
    grid-column-start: 2;
    grid-row-start: 4;
    height: auto;
    width: 250px;
  }
  .Helen {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    height: auto;
    width: 250px;
  }
  .Silvia {
    grid-column-start: 2;
    grid-row-start: 6;
    height: auto;
    width: 250px;
  }

  .text-container {
    grid-column-start: 3;
    width: 200%; 
    margin-top: -100px; 
  }

  .title {
    grid-column-start: 2;
    grid-column-end: 2;
    width: 300%;
    margin-top: -330px; 

  }

  .text {
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: left;
    width: 280%;
    margin-left: 15px;
    margin-right: -5px;
    margin-top: -260px;
  }
}
