@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* for desktop */

.wrapper {
  display: flex;
}

.img-wrapper {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img {
  height: auto;
  width: auto;
  margin: 20px;
  margin-right: -10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.about-us {
  font-size: 3rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: bolder;
  text-shadow: -4px 0 #eedf5b;
  color: #b95c77;
  padding: 2rem;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1vw;
  font-style: normal;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0em;
  text-align: justify;
}

/* for mobile */
@media screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .img-wrapper {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  .img {
    height: auto;
    width: auto;
    margin: 10px;
    align-items: center safe;
    justify-content: center safe;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
  }

  .title {
    height: 13vh;
  }

  .text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0em;
    text-align: justify;
  }
}
