@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;

  grid-template-columns: 2fr, repeat(2, 200px), 2fr;
  grid-template-rows: 1fr, repeat(2, 2fr), 1fr;
}

.contact-image {
  grid-column-start: 2;
  height: auto;
  width: auto;
}

. contact-caption {
  grid-column-start: 2;
  grid-row-start: 1;
}

/* .form-page {
  grid-column-start: 3;
  grid-row-start: ;
  height: auto;
  width: auto;
} */

.input {
  grid-column-start: 3;
  grid-row-start: 1;
  width: 601px;
  height: 40px;
}

@media screen and (max-width: 600px) {
  body {
    background-image: none;
  }

  .form-page {
    justify-content: center;
    align-items: center;
    grid-template-columns: revert;
  }

  .image-container {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .contact-image {
    width: 100%;
    height: auto;
  }

  .text-container {
    display: grid;
    padding: 0px 30px 0px 30px;
    grid-column-start: 1;
    text-align: center;
  }

  .contact-us-call {
    font-size: 17px;
    grid-column-start: 1;
  }

  .contact-caption {
    width: 100%;
    height: auto;
    padding: 18px 18px 0px 18px;
    grid-column-start: 1;
  }
  .form-box {
    grid-column-start: 1;
    justify-self: center;
  }

  .form-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    grid-column-start: 1;
    grid-row-start: 2;
    padding-top: 20px;
    margin-right: 0px;
  }

  label {
    padding: 18px;
    font-size: 1rem;
  }

  #name,
  #email {
    width: 250px;
    height: 40px;
  }

  #message {
    width: 250px;
    height: 100px;
  }

  .button {
    grid-column-start: 1;
  }
}
