@media screen and (max-width: 600px) {
  
  .page-gameintro {
    position: relative;
    height: 100vh;
    background-image: url("https://i.imgur.com/25ehEmx.jpg");
  }

  .selection-lev {
    position: relative;
    width: 277px;
    height: 128px;
    align-items: center;
    margin: auto;
    top: 100px;
    background: #f1df68;
    border-radius: 21px;
  }
  h5 {
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    color: #c56379;

    /*font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #c56379;*/
  }

  .btn-one {
    position: absolute;
    width: 240px;
    height: 53px;
    left: 70px;
    top: 350px;
    background: #f1eaea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
  }
  .btn-two {
    position: absolute;
    width: 240px;
    height: 53px;
    left: 70px;
    top: 450px;
    background: #f0edea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
  }
  .btn-three {
    position: absolute;
    width: 240px;
    height: 53px;
    left: 70px;
    top: 550px;
    background: #f0edea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
  }
  .btn-four {
    position: absolute;
    width: 240px;
    height: 53px;
    left: 70px;
    top: 650px;
    background: #f0edea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
  }
}

.instructions {
  background-color: #f1df68;
  
}

.selection-lev {
  position: relative;
  width: 277px;
  height: 128px;
  align-items: center;
  margin: auto;
  padding-top: 10px;
  top: 100px;
  background: #f1df68;
  border-radius: 21px;
}
h5 {
  font-family: Oswald;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: center;
  color: #c56379;

  /*font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #c56379;*/
}

.btn-one {
  position: absolute;
  width: 240px;
  height: 53px;
  left: 70px;
  top: 350px;
  background: #f1eaea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.btn-two {
  position: absolute;
  width: 240px;
  height: 53px;
  left: 70px;
  top: 450px;

  background: #f0edea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.btn-three {
  position: absolute;
  width: 240px;
  height: 53px;
  left: 70px;
  top: 550px;

  background: #f0edea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.btn-four {
  position: absolute;
  width: 240px;
  height: 53px;
  left: 70px;
  top: 650px;

  background: #f0edea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.buttonsGroup {
  margin: 0 200px 0 30px;
}


/*-------desktop version----------*/
@media (min-width: 1281px) {
  .page-gameintro {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-auto-flow: dense;
    position: relative;
    height: 100vh;
    background-image: url("https://i.imgur.com/25ehEmx.jpg");
  }

  .selection-lev {
    display: grid;
    grid-template-columns: 1;
    position: absolute;
    width: 277px;
    height: 128px;
    align-items: center;
    margin: 150px;
    top: 100px;
    background: #f1df68;
    border-radius: 21px;
  }
  h5 {
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    color: #c56379;

    /*font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #c56379;*/
  }

  .btn-one {
    display: grid;
    grid-column-start: 2;
    align-items: center;
    position: absolute;
    width: 240px;
    height: 53px;
    left: 70px;
    top: 200px;
    background: #f1eaea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  .btn-two {
    display: grid;
    grid-column-start: 2;
    align-items: center;
    position: absolute;
    width: 240px;
    height: 53px;
    left: 70px;
    top: 300px;

    background: #f0edea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  .btn-three {
    display: grid;
    grid-column-start: 2;
    align-items: center;
    position: absolute;
    width: 240px;
    height: 53px;
    left: 70px;
    top: 400px;

    background: #f0edea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  .btn-four {
    display: grid;
    grid-column-start: 2;
    align-items: center;
    position: absolute;
    width: 240px;
    height: 53px;
    left: 70px;
    top: 500px;

    background: #f0edea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
}
